.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    color: white;
}
.dialogsItems .active {
    color: #ffc82c;
}
.messages {
    padding: 10px;
}
.message {
    color: white;
    //padding: 10px;

}